{% extends "quizzbioApp/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div style="float:right;margin:0px 0px 0px 50px;">
    <img src="/static/logo/logo_amu.png" width="600" height="300" style="float:right;margin:0px 0px 0px 0px;">
    <p>
        <a class="btn btn-secondary" style="background-color: #55acee;" href="https://twitter.com/Marineland24" role="button"
          ><i class="fa fa-twitter me-2" style="float:;margin"></i>Twitter</a>

        <a class="btn btn-secondary" style="background-color: #333333;" href="https://github.com/MarineGirardey" role="button"
          ><i class="fa fa-github me-2"></i>GitHub</a>

        <a class="btn btn-secondary" style="background-color: #3b5998;" href="https://www.facebook.com/marine.girardey" role="button"
          ><i class="fa fa-facebook me-2"></i>acebook</a>

        <a class="btn btn-secondary" style="background-color: #ac2bac;" href="https://www.instagram.com/marineland2/" role="button"
          ><i class="fa fa-instagram me-2"></i>Instagram</a>

        <a class="btn btn-secondary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/marine-girardey/" role="button"
          ><i class="fa fa-linkedi me-2"></i>Linkedin</a>
    </p>
</div>

<div style="float:left;">
    <p>
        <img src="/static/profile_pic/marine_pic.png" class="rounded-circle" width="200" height="230" style="float:left;margin:80px 0px 20px 20px;">
        <h4> Marine GIRARDEY <h4>
        <h6> Bioinformatics student </h6>
    </p>
</div>


{% endblock content %}

