{% extends "quizzbioApp/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


<img src="/static/profile_pic/marine_pic.png" class="rounded-circle" width="200" height="230" style="float:left;margin:80px 20px 20px 20px;">

<img src="/static/logo/logo_amu.png" width="700" height="400">
x
<a class="btn btn-secondary" style="background-color: #55acee;" href="#!" role="button"
  ><i class="fa fa-twitter me-2" style="float:;margin"></i>Twitter</a>

<a class="btn btn-secondary" style="background-color: #333333;" href="#!" role="button"
  ><i class="fa fa-github me-2"></i>GitHub</a>

<a class="btn btn-secondary" style="background-color: #3b5998;" href="#!" role="button"
  ><i class="fa fa-facebook me-2"></i>acebook</a>

<a class="btn btn-secondary" style="background-color: #ac2bac;" href="#!" role="button"
  ><i class="fa fa-instagram me-2"></i>Instagram</a>

<a class="btn btn-secondary" style="background-color: #0082ca;" href="#!" role="button"
  ><i class="fa fa-linkedi me-2"></i>Linkedin</a>
</div>

{% endblock content %}

