{% extends "quizzbioApp/base.html" %}
{% block content %}
{% load static %}

<h1>Welcome to the Biological Quiz !</h1>

<div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <img id='microscopy_img' width="800" height="600" style="float:center;margin:20px 20px 20px 150px;" alt="Image description" src="{% static image_src %}"/>
    </div>
</div>

 <form action="/questions/" method="POST">
    <a class="btn btn-primary btn-lg btn-block" name='quick_test' id=1 type="button" onclick='quick_test();'>Quick test</a>
    <a class="btn btn-primary btn-lg btn-block" name='all_questions_test' id=2 type="button" onclick='all_questions_test();'>All questions test</a>
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function quick_test() {
            const quick_test = [...document.getElementsByName('quick_test')];
            quick_test.forEach(el=>{
                q_test = el.name;
            })
            window.location.href = window.location.href + q_test;
        };
    </script>
    <script>
        function all_questions_test() {
            const all_questions_test = [...document.getElementsByName('all_questions_test')];
            all_questions_test.forEach(el=>{
                all_q_test = el.name;
            })
            window.location.href = window.location.href + all_q_test;
        };
    </script>
{% endblock content %}
